{# src/Login/firstBundle/Resources/views/Layout_RegistroTiempos.html.twig #}
{% extends '::base.html.twig' %}
{% block stylesheets %}
 <link href="{{asset('bundles/loginfirst/css/bootstrap.min.css')}}" rel="stylesheet"/>  
    <link href="{{asset('bundles/loginfirst/css/docs.css')}}" rel="stylesheet"/>
    <link href="{{asset('bundles/loginfirst/css/font-awesome.min.css')}}" rel="stylesheet"/>
    <link href="{{asset('bundles/loginfirst/css/morris/morris.css')}}" rel="stylesheet"/>
    <link href="{{asset('bundles/loginfirst/css/fullcalendar/fullcalendar.css')}}" rel="stylesheet"/>
    <link href="{{asset('bundles/loginfirst/css/daterangepicker/daterangepicker-bs3.css')}}" rel="stylesheet"/>
    <link href="{{asset('bundles/loginfirst/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css')}}" rel="stylesheet"/>
    <link href="{{asset('bundles/loginfirst/css/AdminLTE.css')}}" rel="stylesheet"/>
     <link href="{{asset('bundles/loginfirst/css/Req-Tiempos.css')}}" rel="stylesheet"/>
     <link href="http://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet"/>

{% endblock %}
{%block body %}
    <body class="skin-black">
        {%block content1 %}
            {% block header %}
                <header class="header">
                    <div  class="logo" >
                                        <img id="img_logoP" src="{{asset('bundles/loginfirst/Imagenes/logo-gameda.png')}}" />
                
                    </div>
                    <!-- Header Navbar: style can be found in header.less -->
                    <nav class="navbar navbar-static-top" role="navigation">
                        <!-- Sidebar toggle button-->
                        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <div class="navbar-right">
                            <ul class="nav navbar-nav">
                                <!-- Messages: style can be found in dropdown.less-->                               
                                <!-- Notifications: style can be found in dropdown.less -->                             
                                <!-- Tasks: style can be found in dropdown.less -->
                              
                                <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <i class="glyphicon glyphicon-user"></i>
                                        <span>{{app.session.get('Nombre')}}<i class="caret"></i></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header bg-light-blue">
                                          <!--  <img src="{{('bundles/loginfirst/Imagenes/avatar5.png')}}"  class="img-circle" alt="User Image" />-->
                                            <p> EMPLEADO
                                                    <small> Desarrollador Web <br>
                                                         <script>
                                                    var f = new Date();
                                                    var meses = new Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
                                                    var dias = new Array("Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado");
                                                    document.write('<div class="mifecha">' + "Quito, ");
                                                    document.write(dias[f.getDay()] + " ");
                                                    document.write(f.getDate() + " ");
                                                    document.write(meses[f.getMonth()] + " ");
                                                    document.write(f.getFullYear());
                                                    document.write('</div>');
                                                </script></small>
                                            </p>
                                            </li>
                                            <!-- Menu Body -->
                                            <!-- Menu Footer-->
                                            <li class="user-footer">

                                                <div class="pull-left">
                                                    <a href="{{path('Logout')}}" class="btn btn-default btn-flat"><i class="fa fa-sign-out"></i> Cerrar Sesion</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </header>
                    {%endblock%}
                        {%block content2 %}
                            <div class="wrapper row-offcanvas row-offcanvas-left">
                                <!-- Left side column. contains the logo and sidebar -->
                                {%block asideLeft %}
                                    <aside class="left-side sidebar-offcanvas">
                                        <!-- sidebar: style can be found in sidebar.less -->
                                        {%block section1 %}
                                            <section class="sidebar">
                                                <!-- Sidebar user panel -->
                                                <div class="user-panel">
                                                    <div class="pull-left image">
                                                            <!--<img src="{{asset('bundles/loginfirst/Imagenes/avatar5.png')}}"  class="img-circle" alt="User Image" />-->

                                                    </div>
                                                    <div class="pull-left info">
                                                        <h5> Bienvenido   <span>{{app.session.get('Nombre')}}<i class=""></i></span></h5>

                                                    </div>
                                                </div>
                                                <!-- sidebar menu: : style can be found in sidebar.less -->
                                                <ul class="sidebar-menu">
                                                    <li class="active">
                                                        <a href="{{path('Empleado')}}">
                                                            <i class="fa fa-home"></i> <span>MENU PRINCIPAL</span>
                                                        </a>
                                                    </li>
                                                    <li class="treeview">
                                                        <a href="#">
                                                            <i class="fa fa-user"></i>
                                                            <span>Mi Usuario</span>
                                                            <i class="fa fa-angle-left pull-right"></i>
                                                        </a>
                                                        <ul class="treeview-menu">
                                                            <li><a href="{{path('UpdateEmpleado')}}"><i class="fa fa-angle-double-right"></i>Actualizar Datos</a></li>
                                                            <li><a href="{{path('CambiarClaveEmpleado')}}"><i class="fa fa-angle-double-right"></i>Cambiar Contraseña</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="treeview">
                                                        <a href="#">
                                                            <i class="fa fa-edit"></i> 
                                                            <span>Operaciones</span>
                                                            <i class="fa fa-angle-left pull-right"></i>
                                                        </a>
                                                        <ul class="treeview-menu">
                                                            <li><a href="{{path('RegistroT')}}"><i class="fa fa-angle-double-right"></i>Ingreso Tiempos</a></li>
                                                         </ul>
                                                    </li>
                                                    <li class="treeview">
                                                        <a href="#">
                                                            <i class="fa fa-search"></i>
                                                            <span>Consultas</span>
                                                            <i class="fa fa-angle-left pull-right"></i>
                                                        </a>
                                                        <ul class="treeview-menu">
                                                            <li><a href="{{path('ConsulReqTiempos')}}"><i class="fa fa-angle-double-right"></i>Tiempos</a></li>
                                                            <li><a href="{{path('ConsulReqEmp')}}"><i class="fa fa-angle-double-right"></i>Requemientos</a></li>
                                                         </ul>
                                                    </li>
                                                   
                                                </ul>
                                            </section>
                                        {%endblock%}
                                        <!-- /.sidebar -->
                                    </aside>
                                {%endblock%}
                                {%block asideRight %}
                                    <!-- Right side column. Contains the navbar and content of the page -->
                                    <aside class="right-side">
                                        <!-- Content Header (Page header) -->
                                        {%block section2 %}
                                        {%endblock%}
                                        {%block section3 %}
                                        {%endblock%}
                                    </aside><!-- /.right-side -->
                                {%endblock%}
                            </div><!-- ./wrapper -->
                        {%endblock%}
                        {% endblock %}
                            {% block Footer %}        
                               
                                    <div class="container-fluid"  id="Desarrollo">
                                        Desarrollado por Alvaro Tuso G. | Gamedasoft © Todos los Derechos Reservados, 2016.
                                    </div>
                               
                            {% endblock%}
                            {% block javascripts %} 
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
                                <script src="{{asset('bundles/loginfirst/js/jquery-ui-1.10.3.js') }}"></script>
                                <script src="{{asset('bundles/loginfirst/js/bootstrap.min.js') }}"></script>
                                <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
                                <script src="{{asset('bundles/loginfirst/js/plugins/morris/morris.min.js') }}"></script>
                                <script src="{{asset('bundles/loginfirst/js/plugins/sparkline/jquery.sparkline.min.js') }}"></script>
                                <script src="{{asset('bundles/loginfirst/js/plugins/fullcalendar/fullcalendar.min.js') }}"></script>
                                <script src="{{asset('bundles/loginfirst/js/plugins/jqueryKnob/jquery.knob.js') }}"></script>
                                <script src="{{asset('bundles/loginfirst/js/plugins/daterangepicker/daterangepicker.js') }}"></script>
                                <script src="{{asset('bundles/loginfirst/js/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
                                <script src="{{asset('bundles/loginfirst/js/plugins/iCheck/icheck.min.js') }}"></script>
                                <script src="{{asset('bundles/loginfirst/js/AdminLTE/app.js') }}"></script>
                                <script src="{{asset('bundles/loginfirst/js/mainEmpleado.js') }}"></script>
                                <script src="{{asset('bundles/loginfirst/js/jquery.validate.js') }}"></script>
                        <script src="http://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
                            {% endblock %}
                        </body>
                        {% endblock %}
