{# src/login/firstBundle/Resources/views/Admin/IndexRT.html.twig #}
{% extends 'LoginfirstBundle::Layout_Cliente.html.twig' %}

{%block section2 %}
    <section>
        <ol class="breadcrumb">
            <li><a href="{{path('Cliente')}}"><i class="fa fa-dashboard"></i> INICIO</a></li>
            <li class="active">Ingreso Requerimientos</li>
        </ol>
    </section>
{%endblock%}
{%block section3 %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                {% for flashMessage in app.session.flashbag.get('mensaje')%}
                     <div class="alert alert-success"><strong><center>{{ flashMessage }} Exitosamente!!!!</center></strong></div>
                 

                {% endfor%}
                <!-- Trigger the modal with a button -->
                <!-- Modal -->

                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-sm">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header btn-primary ">
                                <button type="button" class="close" data-dismiss="modal"><span><i class="fa fa-times-circle"></i></span></button>
                                <h5 class="modal-title" align="center"><strong>INGRESO NUEVO REQUERIMIENTO</strong></h5>
                            </div>
                            <form id="NuevoReqC" method="Post" class="form-horizontal" action='{{ path('GuardarReqCliente') }}'>
                                <div class="modal-body">
                                    <div id="PathMod" data-path="{{path('Menus1')}}"></div>  
                                    <div id="PathMenu" data-path="{{path('SubMenus1')}}"></div>  
                                    <div class='row'>
                                        <div class='col-sm-12'>
                                            <strong>Modulo:</strong>
                                            <select class="form-control input-sm" name='Modulo' id='Modulo'>
                                                <option value=''selected>Seleccione Modulo</option>
                                                {% for Modulos in Modulos %}                                                
                                                    <option value='{{Modulos.id }}' name='{{Modulos.Nombre }}'>{{Modulos.Nombre }}</option>
                                                {% endfor %}
                                            </select>   
                                        </div>
                                        <div class="form-group">
                                            <div class="col-xs-12 text-center"><div class="loading"></div>
                                            </div>
                                        </div>
                                        <div class='col-sm-12'>
                                            <strong>Menu:</strong>
                                            <div class='row'>
                                                <div class='col-xs-12'>
                                                    <select class="form-control input-sm" name='Menu' id='Menu'>
                                                        <option value=''selected>Seleccione Menu</option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-sm-12'>
                                            <strong>Submenu:</strong>
                                            <div class='row'>
                                                <div class='col-xs-12 col-sm-12'>
                                                    <select class="form-control input-sm" name='SubMenu' id='SubMenu'>
                                                        <option value=''selected>Seleccione SubMenu</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-sm-12'>
                                            <strong>Descripcion:</strong>
                                            <div class='row'>
                                                <div class='col-xs-12 col-sm-12'>
                                                    ​<textarea id="txtArea" name="txtArea" rows="7" cols="40"></textarea>
                                                </div>
                                            </div>
                                        </div>        
                                    </div>                                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal"><span class="fa fa-times-circle-o"></span> Cancelar</button>
                                    <button type="submit" class="btn btn-success btn-xs" id="btn-envia"><span class="fa fa-check-circle"></span> Guardar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>  
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class='row'>
                            <div class='col-xs-6 '>Requerimientos Pendientes</div><div class='col-xs-6 text-right'><button type="button" class="btn btn-success btn-sm text-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-circle"></i> Nuevo</button></div>

                        </div>
                        <hr>
                    </div>
                    <div id="PathReqCosultas" data-path="{{path('RequerimientosClientes')}}"></div>
                    <div id="Actualiza" data-path="{{path('ActualizaReq1')}}"></div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class="col-md-12">
                                <p class="text-info">
                                    <br>
                                    <small><strong> TOTAL DE REGISTROS: <span class="badge">{{pagination|length}}</span></strong></small>
                                    <br></p>                         



                            </div>
                            <div class="col-md-12">
                                <div class="panel panel-danger col-md-12">
                                    <div id="PathReqEliminar" data-path="{{path('EliminaReq1')}}"></div>
                                    <div id="PathReqConsultasC" data-path="{{path('RequerimientosClientes')}}"></div>  
                                    <div class="panel-body">
                                        <div class="col-md-3">
                                            <strong>Buscar por modulos: <i class="fa fa-search" aria-hidden="true"></i></strong>

                                        </div>
                                        <div class="col-md-9">
                                            <select class="col-xs-5" name='ModuloC' id='ModuloC'>
                                                <option value='0' >Todos</option>
                                                {% for Modulos in Modulos %}   
                                                    <option value='{{Modulos.id }}' name='{{Modulos.Nombre }}'>{{Modulos.Nombre }}</option>
                                                {% endfor %}
                                            </select>  
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 text-center"><div class="loading1"></div>
                                </div>
                            </div>
                            <table id="RequerimientosC" class="table table-bordered">
                                <thead class='bg-success'>
                                    <tr> 
                                        <th class="text-center"><small>N°</small></th>
                                        <th class="text-center"><small>FECHA</small></th>
                                        <th class="text-center"><small>REQUEMIENTO ID</small></th>
                                        <th class="text-center"><small>ESTADO</small></th>
                                        <th class="text-center"><small>MODULO</small></th>  
                                        <th class="text-center"><small>MENU</small></th>
                                        <th class="text-center"><small>SUBMENU</small></th>  
                                        <th class="text-center"><small>ACCIONES</small></th>   
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for Req in pagination%}
                                        <tr>
                                            <td><small>{{ loop.index }}</small></td>
                                            <td><small>{{ Req.Fecha |date("Y/m/d", false)}}</small></td>
                                            <td><small>Req-{{ Req.IdReq }}</small></td>
                                            <td><small>{{ Req.Estado }}</small></td>
                                            <td><small>{{ Req.Modulo}}</small></td>
                                            <td><small>{{ Req.Menu }}</small></td>
                                            <td><small>{{Req.SubMenu}}</small></td>
                                            <td class="">
                                                <button type="button" id="actualizar" class="btn btn-xs btn-success btn-circle" data-toggle="modal" data-target="#{{Req.IdReq}}" data-whatever="@mdo"> <i class="fa fa-pencil" title="EDITAR" aria-hidden="true"></i></button><small>Editar</small> 
                                                <div class="modal" id="{{Req.IdReq}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                                    <div class="modal-dialog modal-sm" role="document">
                                                        <form id="Editar" method="POST" action='{{ path('ActualizaReq',{'idRq': Req.IdReq}) }}'>                          
                                                            <div class="modal-content">
                                                                <div class="modal-header btn-primary">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                                                                    <h5 class="modal-title" id="exampleModalLabel" align="center"><strong> ACTUALIZAR REQUERIMIENTO</strong></h5>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class='row'>
                                                                        <div class='col-sm-12'>
                                                                            <strong>Id Requerimiento:</strong>
                                                                            <span id='unSpan'>{{ Req.IdReq }}</span> 
                                                                        </div>
                                                                        <div class='col-sm-12'>
                                                                            <strong>Modulo:</strong>
                                                                            <select class="form-control input-sm" name='Modulo1' id='Modulo1'>
                                                                                <option value='' >{{ Req.Modulo}}</option>
                                                                                {% for Modulos in Modulos %}                                                
                                                                                    <option value='{{Modulos.id }}' name='{{Modulos.Nombre }}'>{{Modulos.Nombre }}</option>
                                                                                {% endfor %}
                                                                            </select>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-xs-12 text-center"><div class="loading"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class='col-sm-12'>
                                                                            <strong>Menu:</strong>
                                                                            <div class='row'>
                                                                                <div class='col-xs-12'>
                                                                                    <select class="form-control input-sm" name='Menu1' id='Menu1'>
                                                                                        <option value='{{Req.IdMenus}}'selected>{{ Req.Menu}}</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class='col-sm-12'>
                                                                            <strong>Submenu:</strong>
                                                                            <div class='row'>
                                                                                <div class='col-xs-12 col-sm-12'>

                                                                                    <select class="form-control input-sm" name='SubMenu1' id='SubMenu1'>
                                                                                        <option value='{{Req.idSubmenu}}'selected>{{ Req.SubMenu}}</option>
                                                                                    </select>

                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class='col-sm-12'>
                                                                            <strong>Descripcion:</strong>
                                                                            <div class='row'>
                                                                                <div class='col-xs-12 col-sm-12'>
                                                                                    <textarea id="txtArea1" name="txtArea1" rows="7" cols="40">{{ Req.Descripcion}}</textarea>
                                                                                </div>
                                                                            </div>
                                                                        </div>        

                                                                    </div>                                                    
                                                                </div>
                                                                <div class="modal-footer bg-gray">
                                                                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal"><span class="fa fa-times-circle-o"></span> Cancelar</button>
                                                                    <button type="submit" id="actualizar" class="btn btn-success btn-xs"><span class="fa fa-check-circle"></span> Actualizar</button>
                                                                </div>
                                                            </div>
                                                        </form>                            
                                                    </div>
                                                </div>

                                                <a class="btn btn-danger btn-circle" href="{{path('EliminaReq',{'idRq': Req.IdReq })}}">
                                                    <i class="fa fa-trash-o fa-fw" title="ELIMINAR" aria-hidden="true"></i>
                                                    <span class="sr-only">ELIMINAR</span>
                                                </a><small> Eliminar</small></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div><!-- /.box -->
            </div>
    </section><!-- /.content -->
{% endblock %}










