{# src/login/firstBundle/Resources/views/Admin/IndexRT.html.twig #}
{% extends 'LoginfirstBundle::Layout_Admin.html.twig' %}
{%block section2 %}
    <section>
        <ol class="breadcrumb">
            <li><a href="{{path('Admin')}}"><i class="fa fa-dashboard"></i> INICIO</a></li>
            <li class="active">Lista Módulos</li>
        </ol>
    </section>
{%endblock%}
{%block section3 %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
               {% for flashMessage in app.session.flashbag.get('MensajeUpdate')%}
                    <div class="alert alert-success"><strong><center>{{ flashMessage }}!!!!</center></strong></div>
                  
                {% endfor%}
                {% for flashMessage in app.session.flashbag.get('mensaje')%}
                    <div class="alert alert-success"><strong><center>{{ flashMessage }}!!!!</center></strong></div>
                  
                {% endfor%}
                {% for flashMessage in app.session.flashbag.get('MensajeError')%}
                    <div class="alert alert-danger"><strong><center>{{ flashMessage }}!!!!</center></strong></div>
                  
                {% endfor%}
                 {% for flashMessage in app.session.flashbag.get('MensajeExitoso')%}
                     <div class="alert alert-success"><strong><center>{{ flashMessage }}!!!!</center></strong></div>
                {% endfor%}  <!-- Trigger the modal with a button -->

                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header btn-primary ">
                                <button type="button" class="close" data-dismiss="modal"><span><i class="fa fa-times-circle"></i></span></button>
                                <h5 class="modal-title" align="center"><strong>INGRESO NUEVO MODULO</strong></h5>
                            </div>
                            <form id="NuevoModulo" method="Post" class="form-horizontal" action='{{ path('GuardarModulo') }}'>

                                <div class="modal-body">                               
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="ModNombre">Nombre:</label>
                                        <div class="input-group col-sm-8">
                                            <div class="input-group-addon">
                                                <i class="fa fa-pencil"></i>
                                            </div>
                                            <input type="Text" id="ModNombre" name="ModNombre" class="form-control  input-sm"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="ModDescripcion">Descripcion:</label>
                                        <div class="input-group col-sm-8">
                                            <div class="input-group-addon">
                                                <i class="fa fa-align-justify"></i>
                                            </div>
                                            <input type='Text' id="ModDescripcion" name="ModDescripcion" class="form-control  input-sm"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal"><span class="fa fa-times-circle-o"></span> Cancelar</button>
                                    <button type="submit" class="btn btn-success btn-xs" id="btn-envia"><span class="fa fa-check-circle"></span> Guardar</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>  
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class='row'>
                            <div class='col-xs-6 '><strong>Lista de Módulos</strong></div><div class='col-xs-6 text-right'><button type="button" class="btn btn-success btn-sm text-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-circle"></i> Nuevo</button></div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <div class="col-md-12">
                                <p class="text-info">
                                    <br>
                                    <small><strong>TOTAL DE REGISTROS: <span class='badge'>{{pagination.getTotalItemCount}}</span></strong></small>
                                    <br></p>                         
                            </div>
                                    <div id="ActualizaModuloA" data-path="{{path('GuardarEditModuloA1')}}"></div>
                                    
                            <div class="form-group">
                                <div class="col-xs-12 text-center"><div class="loading1"></div>
                                </div>
                            </div>        
                            <table id="example2" class="table table-hover table-bordered">
                                <thead class='bg-success'>
                                    <tr> 
                                        <th class="text-center small">Nº</th>
                                        <th class="text-center small">MODULO</th>
                                        <th class="text-center small">DESCRIPCION</th>
                                        <th class="text-center small">ACTIVAR/DESACTIVAR</th>
                                        <th class="text-center small col-xs-2">ACCIONES</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for Modulos in pagination %}
                                        <tr>
                                            <td class="text-center small">{{ loop.index }}</td>
                                            <td class="text-center small">{{ Modulos.Nombre }}</td>
                                            <td class="text-center small">{{ Modulos.Descripcion }}</td>  
                                            <td class='text-center small'> 
                                                {% if Modulos.Estado == 1%}
                                                    <a href="{{path('DesactivaMod',{'idMod': Modulos.id })}}" class='btn btn-xs btn-success'>Activado</a>
                                                {% else %}
                                                    <a href="{{path('ActivaMod',{'idMod': Modulos.id })}}" class='btn btn-xs btn-danger'>Desactivado</a>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <button type="button" id="actualizar" class="btn btn-xs btn-success btn-circle" data-toggle="modal" data-target="#{{Modulos.id }}" data-whatever="@mdo"> <i class="fa fa-pencil" title="EDITAR" aria-hidden="true"></i></button><small>Editar</small> 
                                                    <div class="modal" id="{{ Modulos.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                                    <div class="modal-dialog modal-sm" role="document">
                                                        <form id="Editar" method="POST" action='{{ path('GuardarEditModuloA',{'idModulo':  Modulos.id }) }}'>                          
                                                            <div class="modal-content">
                                                                <div class="modal-header btn-primary">
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                                                                    <h5 class="modal-title" id="exampleModalLabel" align="center"><strong> ACTUALIZAR MODULO</strong></h5>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class='row'>
                                                                       
                                                                        <div class='col-sm-12'>                                                                          
                                                                            <strong>Nombre:</strong>
                                                                            <div class='row'>
                                                                                <div class='col-xs-12 col-sm-12'>
                                                                                  <input type="text" value="{{Modulos.Nombre }}" id="ModNombre" name="ModNombre" class="form-control  input-sm"/>
                                                                                </div>
                                                                            </div>                                                                    
                                                                        </div>
                                                                       <div class='col-sm-12'>
                                                                            <strong>Descripcion:</strong>
                                                                            <div class='row'>
                                                                                <div class='col-xs-12 col-sm-12'>
                                                                                  <input type="text" value="{{Modulos.Descripcion }}" id="ModDescripcion" name="ModDescripcion" class="form-control  input-sm"/>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                       
                                                                    </div>                                                    
                                                                </div>
                                                                <div class="modal-footer bg-gray">
                                                                    <button type="button" class="btn btn-danger btn-xs" data-dismiss="modal"><span class="fa fa-times-circle-o"></span> Cancelar</button>
                                                                    <button type="submit" id="actualizar" class="btn btn-success btn-xs"><span class="fa fa-check-circle"></span> Actualizar</button>
                                                                </div>
                                                            </div>
                                                        </form>                            
                                                    </div>
                                                </div>
                                        <!-- FIN EDITAR EMPLEADOS -->  
                                          <a class="btn btn-danger btn-circle" href="{{path('EliminarModulo',{'idEM': Modulos.id })}}"><i class="fa fa-trash-o fa-fw" title="ELIMINAR" aria-hidden="true"></i> <span class="sr-only">ELIMINAR</span></a><small>Eliminar</small>
                                  
                                            </td>
                                            
                                        </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div class="navigation">
                                            {{knp_pagination_render(pagination)}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.box -->
                    </div>
                </section><!-- /.content -->
                {% endblock %}
