{# src/login/firstBundle/Resources/views/Admin/IndexRT.html.twig #}
{% extends 'LoginfirstBundle::layout_Admin.html.twig' %}
{%block section2 %}
    <section>
        <ol class="breadcrumb">
            <li><a href="{{path('Admin')}}"><i class="fa fa-dashboard"></i> INICIO</a></li>
            <li class="active">Lista Clientes</li>
        </ol>
    </section>
{%endblock%}
{%block section3 %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                {% for flashMessage in app.session.flashbag.get('mensaje')%}
                    <strong class="alert-success">{{ flashMessage }} Exitosamente!!!!</strong> 
                {% endfor%}
               <div id="myModal" class="modal fade" role="dialog">
                   <div class="modal-dialog">
                       <!-- Modal content-->
                       <div class="modal-content">
                           <div class="modal-header btn-primary ">
                               <button type="button" class="close" data-dismiss="modal"><span><i class="fa fa-times-circle"></i></span></button>
                               <h5 class="modal-title">Nuevo Cliente</h5>
                           </div>                                      
                       <form id="cliente" method="Post" class="form-horizontal" action='{{ path('GuardarCliente') }}'>
                           <div class="modal-body">                              
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for='nombreC'>Nombre:</label>
                        <div class="input-group col-sm-5">
                            <div class="input-group-addon">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <input type="text"  id="nombreC" name="nombreC" class="form-control  input-sm"/>
                        </div>
                    </div>
                   <div class="form-group">
                        <label class="col-sm-3 control-label" for='UsuarioC'>Usuario:</label>
                        <div class="input-group col-sm-4">
                            <div class="input-group-addon">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <input type="text" id="UsuarioC" name="UsuarioC" class="form-control  input-sm"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="ruc">Ruc:</label>
                        <div class="input-group col-sm-4">
                            <div class="input-group-addon">
                                <i class="fa fa-qrcode"></i>
                            </div>
                            <input type="text" id="ruc" name="ruc" class="form-control  input-sm"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="telefonoC">Telefóno:</label>
                        <div class="input-group col-sm-4">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <input type="text" id="telefonoC" name="telefonoC" class="form-control  input-sm"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="direccionC">Dirección:</label>
                        <div class="input-group col-sm-5">
                            <div class="input-group-addon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <input type="text" id="direccionC" name="direccionC"  class="form-control  input-sm"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="mailC">Correo Electrónico:</label>
                        <div class="input-group col-sm-4">
                            <div class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <input type="email" id="mailC" name="mailC" class="form-control  input-sm"/>
                        </div>
                    </div>
                    <div class="form-group">
                    <label class="col-sm-3 control-label" for="contactoC">Contacto:</label>
                       <div class="input-group col-sm-5">
                           <div class="input-group-addon">
                               <i class="fa fa-user"></i>
                           </div>
                           <input type="Text" id="contactoC" name="contactoC" class="form-control  input-sm"/>
                       </div>
                   </div>
                     <div class="form-group">
                    <label class="col-sm-3 control-label" for="claveTC">Clave Temporal:</label>
                       <div class="input-group col-sm-3">
                           <div class="input-group-addon">
                               <i class="fa fa-key"></i>
                           </div>
                           <input type="Text" id="claveTC" name="claveTC" class="form-control  input-sm"/>
                       </div>
                   </div>
                       </div>
                           <div class="modal-footer">
                               <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                               <button type="submit" class="btn btn-primary" id="btn-envia">Guardar</button>
                           </div>
                           </form>
                       </div>

                   </div>
               </div>  
               <div class="panel panel-primary">
                   <div class="panel-heading">
                    <div class='row'>
                        <div class='col-xs-6 '>Lista de clientes</div><div class='col-xs-6 text-right'><button type="button" class="btn btn-success btn-sm text-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-circle"></i> Nuevo</button></div>
                    </div>
                       <hr>
                   </div>
                       <div class="panel-body">
                        <div class="table-responsive">
                            <table id="example2" class="table table-hover table-condensed">
                                <thead class='bg-success'>
                                    <tr> 
                                        <th>#</th>
                                        <th>NOMBRE</th>
                                        <th>RUC</th>
                                        <th>EMAIL</th>
                                        <th>TELEFONO</th>
                                        <th>ACCIONES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for Clientes in Clientes %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ Clientes.Nombre }}</td>
                                            <td>{{ Clientes.Ruc }}</td>
                                            <td>{{ Clientes.Email }}</td>
                                            <td>{{ Clientes.Telefono }}</td>
                                            <td>
                                                <a href="{{path('VerCliente',{'idC': Clientes.id })}}" class='btn btn-xs btn-success'>Ver</a>
                                                <a href="{{path('EditarCliente',{'idC': Clientes.id })}}"  class='btn btn-xs btn-primary'>Editar</a>
                                                <a href="{{path('EliminarCliente',{'idCD': Clientes.id })}}"  class='btn btn-xs btn-danger'>Eliminar</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div> 
                           </div>
                       </div><!-- /.box -->
                   </div>
               </section><!-- /.content -->
{% endblock %}
